.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
    height: 100%;

    border: none;
    background: none;
}

.searchInput {
    font-size: 1.2rem;
    height: 40px;
    border-radius: 40px;
    padding: 5px 30px 5px 10px;
    border: 2px solid #dfdfdf;
    padding: 0 11px;
    font-size: 14px;
}

.searchInput:focus,
.searchButton:focus{
    outline: none;
    border: 1px solid #71ccd5;
}